@charset "UTF-8";

:root {
    --primary-color: #ffc107;
    
  }
  

#home{
    background-color: var(--primary-color) ;
    color: #ffffff;
}

.caixa{
  padding: 60px 0;
  border-bottom: 1px solid #e5e5e5;
}